---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">{% translate page.heading %}{{ site.title }}</h1>
  
  <ul class="page-list">
    {% for page in site.pages %}
      {% if page.layout == 'page' %}
        <li class="page-list-item">
          <h2>
            <a class="page-link" href="{{ page.url | relative_url }}">
              {% translate page.title %}
            </a>
          </h2>
          <div class="page-content">
            {{ page.content }}
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
